@IMPORT "./buttons.css";
@IMPORT "./buttons-icons.css";
@IMPORT "./header.css";
@IMPORT "./hero.css";
@IMPORT "./wrapper.css";
@IMPORT "./menu.css";
@IMPORT "./project.css";
@IMPORT "./social.css";
@IMPORT "./footer.css";
@IMPORT "./form.css";
@IMPORT "./title.css";
@IMPORT "./card.css";
@IMPORT "./coment.css";



:root {
    --fontBase:'Poppins', sans-serif;
    --headline1:bold 95px/153.71px var(--fontBase);
    --headline2:bold 59px/95px var(--fontBase);
    --headline3:bold 48px/77px var(--fontBase);
    --headline4:bold 34px/55px var(--fontBase);
    --headline5:bold 24px/38px var(--fontBase);
    --body1: 16px/25.89px var(--fontBase);
    --body2: 14px/22.65px var(--fontBase);
    --button: bold 14px/22px var(--fontBase);
    --caption: 12px/19.42px var(--fontBase);
    --gradient:radial-gradient(41.48% 11.48% at 2.38% 8.52%, #560bad 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #3F37C9 0%, #3A0CA3 100%);
    --purple: #F72585;
    --aqua: #ffffff;
    --white: #35DED9;
    --coment: 34px/50px var(--fontBase);
}
body{
   background: var(--gradient); 
   min-block-size: 100vh;
   font: var(--body1);
   color: var(--purple) ;
   margin:0 ;
}
